.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    background-color: #202c33;
}
.tab{
  

    width: 100%;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    
}

.active{
    text-align: center;

    border-bottom: .35rem solid greenyellow;
}

