.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    background-color: #202c33;
}
.tab{
    color: white;
    border: none;
    width: 100%;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
   align-items: center;
}

.active{
    border-bottom: .35rem solid greenyellow;
}

.active{
    border-bottom: .35rem solid greenyellow;
  }