.me {
    border: 1px solid gray;
    color: white;
    margin: 0.2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.5rem;
    width: fit-content;
    background-color: #005c4b;
    width: fit-content;
    text-align: right;
   display: flex;
   float: right;
  }
  
  .other {
    border: 1px solid gray;
    margin: 0.2rem;
    background-color: #202c33;
    color: white;
    width: fit-content;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 0.5rem;
  }
  
  .text {
    border-radius: 10px;
    padding: 0.5rem;
  }

  .chats{
    display: flex;
    flex-direction: column;
  }
  