*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  font-family: sans-serif;
}

.myText {
  display: flex;
  justify-content: right;
}

img{
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.active{
  border-bottom: .35rem solid greenyellow;
}
