.main{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background-color: #202c33;
    color: white;
}

.right_panel{
    display: flex;
    gap: .5rem;
}

.icon{
    font-size: 1.4rem;
}


.logo{
    font-size: 1.3rem;
}


